:root {
    --globe-size: 300px;
    --light-blue: #51e5ff;
    --dark-blue: #040014;
    --tan: #ead2ac;
}

html {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

body {
    isolation: isolate;
}

header {
    position: absolute;
    width: 100%;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar .logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    text-transform: uppercase;
    border-top: 4px solid var(--light-blue);
    border-left: 4px solid var(--light-blue);
    padding: 8px 0 0 8px;
    margin: 20px 50px;
    letter-spacing: 2px;
    font-family: 'Schibsted Grotesk', sans-serif;
}

#check {
    display: none;
}

.navbar-container input[type="checkbox"], .navbar-container .hamburger {
    display: block;
    z-index: 1;
}

.navbar-container .hamburger {
    width: 60px;
    height: 40px;
    position: fixed;
    top: 30px;
    right: 50px;
    cursor: pointer;
}

.navbar-container .hamburger .line {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: white;
    border-radius: 9px;
    left: 0;
    transition-duration: 0.25s;
}

.hamburger .line:nth-child(1) {
    top: 0;
}

.hamburger .line:nth-child(2) {
    top: 15px;
}

.hamburger .line:nth-child(3) {
    top: 30px;
}

.navbar-container input[type="checkbox"]:checked + .hamburger .line:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
}

.navbar-container input[type="checkbox"]:checked + .hamburger .line:nth-child(2) {
    top: 15px;
    transform: rotate(45deg);
}

.navbar-container input[type="checkbox"]:checked + .hamburger .line:nth-child(3) {
    top: 15px;
    transform: rotate(135deg);
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
    right: 0;
}

.menu-items {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%; 
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #2c3e50;
    text-align: center;
    transition: all 0.25s;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu-items li a {
    color: var(--light-blue);
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-items li a::before {
    content: '. ';
}

.menu-items li a:hover {
    text-decoration: underline;
}

.social-links li a::before {
    content: none;
}

.social-links li a:hover {
    color: var(--tan);
}

.globe {
    position: relative;
    width: var(--globe-size);
    height: var(--globe-size);
    margin: 10px auto;
    /* border: 1px solid white; */
    border-radius: 50%;
    box-shadow: 0 15px 15px 1px rgba(0,0,0,0.3);
    background: url("./assets/globe.png") repeat-x;
    background-size: 500px var(--globe-size);
    animation: scroll 10s linear infinite;
    transform-style: preserve-3d;
}

.globe::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.2;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, white, black);
}

.globe::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 50%;
    box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
}
  
@keyframes scroll {
    to {
        background-position: -500px 0;
    }
}

#banner {
    position: relative;
    min-height: 100vh;
    padding: 50px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: normal;
    gap: 2em;
}

#banner h1 {
    color: var(--light-blue);
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 1px;
}

#banner h2 {
    color: white;
    font-size: 1.5em;
}

#banner p {
    color: var(--tan);
    font-size: 1em;
    margin: 20px 0;
}

#banner div .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#banner .content div {
    display: flex;
    justify-content: center;
}

#banner div a {
    position: relative;
    display: inline-block;
    background: white;
    color: var(--dark-blue);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 5px;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#banner div a:hover {
    border-color: #ead2ac;
    color: var(--dark-blue);
    box-shadow: 0 0.5em 0.5em -0.4em var(--tan);
    transform: translateY(-0.25em);
}

#projects {
    position: relative;
    min-height: 100vh;
    padding: 50px;
    background-color: #040014;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

#projects h2 {
    font-size: 2em;
    color: white;
    border-bottom: 4px solid var(--light-blue);
    margin-bottom: 0.4em;
    text-transform: uppercase;
    text-align: center;
}

.a-project {
    border-top: 4px solid var(--light-blue);
    margin: 1em 0 2em 0;
    background-color: var(--dark-blue);
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.a-project:first-child {
    border: none;
}

.a-project h3 {
    font-size: 2em;
    text-decoration: underline;
    color: white;
    margin-top: 10px;
}

.a-project .project-links {
    text-align: left;
}

.a-project a {
    text-decoration: none;
    color: var(--light-blue);
    margin: 2em 0.5em 2em 0;
    font-size: 1.5em;
}

.a-project a:hover {
    text-decoration: underline;
}

.a-project .tech {
    color: white;
    margin: 0.5em 0 2em 0;
    text-indent: 0;
    font-size: 1em;
}

.a-project p {
    color: var(--tan);
    font-size: 1em;
}

.a-project img {
    width: 90%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 10px;
    border: 1px solid var(--light-blue);
    border-radius: 0.8em;
}

#contact {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    padding: 0 50px;
    min-height: 100vh;
    background-color: var(--dark-blue);
    line-height: normal;
    z-index: -1;
}

#contact div {
    color: var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact div .social-links {
    font-size: 2em;
    gap: 80px;
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;
    margin: 2em;
    text-align: center;
}

#contact div h2 {
    font-size: 2em;
    text-align: center;
}

#contact div a {
    color: var(--light-blue);
    text-decoration: none;
}

#contact div a:hover {
    color: var(--tan);
    text-decoration: underline;
}

#contact div a i {
    font-size: 2em;
}

#contact div a i:hover{
    text-decoration: none;
}

#contact div a p {
    font-size: 0.5em;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--dark-blue);
    border-bottom: 4px solid var(--light-blue);
    border-right: 4px solid var(--light-blue);
    margin: 30px 50px;
}

footer p {
    color: white;
    text-align: end;
    padding: 0 8px 8px 0;
}









@media (min-width: 768px) {
    /* .navbar input[type="checkbox"], .navbar .hamburger {
        display: none;
    } */

    /* .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 0;
        align-items: flex-start;
        background-color: #04001400;
    }

    .navigation ul, .links ul {
        position: fixed;
        top: 20px;
        right: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
    }

    .navigation ul li a, .links ul li a {
        color: #51e5ff;
        font-size: 1em;
    }

    .navigation ul li a {
        margin: 10px 0 10px 10px;
    }

    .links ul li a::before {
        content: none;
    }

    .links ul li a:hover {
        color: #ead2ac;
    } */
    
    #banner .content div {
        display: flex;
        justify-content: flex-start;
    }
}