html {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header .logo {
    position: absolute;
    top: 20px;
    left: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    text-transform: uppercase;
    z-index: 2;
    border-top: 4px solid #51e5ff;
    border-left: 4px solid #51e5ff;
    padding: 8px 0 0 10px;
    letter-spacing: 2px;
    font-family: 'Schibsted Grotesk', sans-serif;
}

nav {
    position: fixed;
    top: 28px;
    right: 50px;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}

nav .hamburger {
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

nav .hamburger .line {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

nav .hamburger .line:nth-child(1) {
    top: 0px;
}
  
nav .hamburger .line:nth-child(2),nav .hamburger .line:nth-child(3) {
    top: 15px;
}
  
nav .hamburger .line:nth-child(4) {
    top: 30px;
}
  
nav .hamburger.open .line:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
}
  
nav .hamburger.open .line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
nav .hamburger.open .line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
nav .hamburger.open .line:nth-child(4) {
    top: 15px;
    width: 0%;
    left: 50%;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100vh;
    background: #FE5F55;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.links ul {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 40px;
}

.navigation ul li a {
    color: #040014;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
}

.links ul li a {
    color: #040014;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.navigation ul li a::before {
    content: '. ';
}

.navigation ul li a:hover {
    text-decoration: underline;
}

.links ul li a::before {
    content: none;
}

.links ul li a:hover {
    color: white;
}

#banner {
    position: relative;
    min-height: 100vh;
    padding: 50px;
    background-color: #040014;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: normal;
    z-index: 1;
}

#banner h1 {
    color: #51e5ff;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#banner h2 {
    color: white;
    font-size: 1.5em;
}

#banner p {
    color: #ead2ac;
    font-size: 1em;
}

#banner div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#banner div a {
    position: relative;
    display: inline-block;
    background: white;
    color: #040014;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 5px;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#banner div a:hover {
    border-color: #ead2ac;
    color: #040014;
    box-shadow: 0 0.5em 0.5em -0.4em #ead2ac;
    transform: translateY(-0.25em);
}

#projects {
    position: relative;
    min-height: 100vh;
    padding: 0 50px;
    background-color: #040014;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: normal;
    z-index: 1;
}

#projects h2 {
    font-size: 2em;
    color: white;
    border-bottom: 4px solid #51e5ff;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    text-align: center;
}

.a-project {
    border-top: 4px solid #51e5ff;
    margin: 1em 0 2em 0;
    background-color: #040014;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.a-project:first-child {
    border: none;
}

.a-project h3 {
    font-size: 2em;
    text-decoration: underline;
    color: white;
    margin-top: 10px;
}

.a-project .project-links {
    text-align: left;
}

.a-project a {
    text-decoration: none;
    color: #51e5ff;
    margin: 2em 0.5em 2em 0;
    font-size: 1.5em;
}

.a-project a:hover {
    text-decoration: underline;
}

.a-project .tech {
    color: white;
    margin: 0.5em 0 2em 0;
    text-indent: 0;
    font-size: 1em;
}

.a-project p {
    color: #ead2ac;
    font-size: 1em;
}

.a-project img {
    width: 90%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 10px;
    border: 1px solid #51e5ff;
    border-radius: 0.8em;
}

#contact {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    /* left: 0; */
    min-height: 100vh;
    padding: 50px;
    background-color: #3babbe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

#contact div {
    position: relative;
    padding: 50px;
    background-color: #51e5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #040014;
    border-right: 4px solid #040014;
}





@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 0;
        align-items: flex-start;
        background-color: #04001400;
    }

    .navigation ul, .links ul {
        position: fixed;
        top: 20px;
        right: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
    }

    .navigation ul li a, .links ul li a {
        color: #51e5ff;
        font-size: 1em;
    }

    .navigation ul li a {
        margin: 10px 0 10px 10px;
    }

    .links ul li a::before {
        content: none;
    }

    .links ul li a:hover {
        color: #ead2ac;
    }
    
    #banner div {
        align-items: flex-start;
    }
}