body{
    background-color: #018281;
}

h1 {
    font-size: 500%;
}

h1, p, a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
  
.line {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-button .line:nth-child(1) {
    top: 0px;
}
  
.menu-button .line:nth-child(2),.menu-button .line:nth-child(3) {
    top: 18px;
}
  
.menu-button .line:nth-child(4) {
    top: 36px;
}
  
.menu-button.open .line:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
.menu-button.open .line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.menu-button.open .line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
.menu-button.open .line:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.navigation-button-a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #24292e;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
  
.navigation-button-a:hover {
    background-color: #d67403;
}